.enroll-now-container {
    background-color: #333;
    padding: 50px 20px;
    color: #fff;
  }
  
  .enroll-now-content {
    display: flex;
  }
  
  .left-section,
  .right-section {
    flex: 1;
  }
  
  .image-container {
    margin-bottom: 20px;
  }
  
  .image-container img {
    width: 100%;
    max-width: 700px;
    border-radius: 8px;
    height: 100%;
    max-height: 550px;
  }
  
  .form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  .form-heading h2 {
    margin: 0;
    text-align: center;
    color: black;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"],
  button.enroll-button,
  button.syllabus-button {
    background-color: #ffbe57;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
  }
  
  button[type="submit"]:hover,
  button.enroll-button:hover,
  button.syllabus-button:hover {
    background-color: #e0a845;

  }
  
  .button-container {
    text-align: center;
    margin-top: 20px;
    display: flex;
  }
  
  .button-container button {
    margin-right: 10px;
    
    font-size: larger;
    font-weight: bolder;
  }
  
  @media (max-width: 768px) {
    .enroll-now-content {
      flex-direction: column;
    }
  
    .left-section,
    .right-section {
      width: 100%;
    }
  }
  