.footer {
  background-color: white;
  color: black;
  padding: 50px 20px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo img {
  width: 100%; /* Adjust logo size */
  max-width: 300px; /* Set maximum width */
}

.footer-info {
  flex: 1;
  margin-right: 20px; /* Add some spacing between columns */
}

.footer-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-info ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Remove default margin */
}

.footer-info ul li {
  margin-bottom: 5px;
}

.footer-info ul li a {
  color: black;
  text-decoration: none;
  transition: color 0.3s; /* Smooth transition for color change */
}

.footer-info ul li a:hover {
  color: #ffbe57; /* Change color on hover */
  animation-name: bounce; /* Apply bounce animation on hover */
  animation-duration: 0.5s;
}

.footer-info p {
  margin: 5px 0;
}

.social-media {
  margin-top: 20px;
  text-align: center; /* Center social media icons */
}

.social-media a {
  color: black;
  font-size: 24px;
  margin: 0 10px; /* Add spacing between icons */
  text-decoration: none;
}

.legal {
  margin-top: 20px;
  text-align: center; /* Center legal links */
}

.legal a {
  color: black;
  text-decoration: none;
  margin: 0 20px; /* Add spacing between links */
}

/* Animation keyframes */
@keyframes bounce {
  0% { transform: translateY(0); }
  25% { transform: translateY(-5px); }
  50% { transform: translateY(0); }
  75% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items */
  }
  
  .footer-info {
    margin-right: 0; /* Remove right margin */
    margin-bottom: 20px; /* Add bottom margin for spacing */
    text-align: center; /* Center text */
  }
}
