.recruiters {
    background-color: whitesmoke;
    color: #222;
    padding: 40px 20px;
  }
  
  .recruiters-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .recruiters h2 {
    color: black;
    margin-bottom: 30px;
    font-size: 2em;
  }
  
  .logos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  .logo-item img {
    max-width: 100%;
    border-radius: 8px;
    transition: transform 0.3s;
    max-height: 100px;
    height: 100px;
  }
  
  .logo-item img:hover {
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
    .logos-grid {
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    }

    .logo-item img{
        height: 75px;
    }
  }
  
  @media (max-width: 480px) {
    .logos-grid {
      grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    }
  }
  