/* src/FormSection.module.css */
.fullStackPage {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  color: white;
  background-color: #222;
}

.contentSection {
  flex: 1 1 60%;
  padding: 20px;
}

.pageHeading h1 {
  font-size: 2.5em;
  color: white;
}

.pageHeading p {
  font-size: 1.2em;
  color: #ccc;
  margin: 10px 0;
}

.pageHeading .highlight {
  color: #ffbe57;
  font-weight: bold;
}

.featuresSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.featureBox {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: calc(11.333% - 20px); /* Make sure three items fit in one row */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
}

.featureBox:hover {
  transform: translateY(-5px);
}

.featureIcon {
  font-size: 1.5em; /* Smaller icon size */
  color: #ffbe57;
  margin-bottom: 5px;
}

.featureTitle {
  font-size: 0.9em; /* Smaller title size */
  color: #222;
}

.ctaSec {
  text-align: center;
  margin-top: 30px;
}

.ctaBtn {
  background-color: #ffbe57;
  color: #222;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 3rem;
  width: 50%;
  font-size: large;
  font-weight: bold;
}

.ctaBtn:hover {
  background-color: #e0a500;
}

.advisorFormSection {
  flex: 1 1 30%;
  padding: 20px;
  background-color: #dadada;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #222;
  text-align: center;
}

.advisorFormSection h2 {
  color: #222;
  margin-bottom: 20px;
}

.advisorForm {
  display: flex;
  flex-direction: column;
}

.formInput,
.formSelect,
.formButton {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

.formButton {
  background-color: #ffbe57;
  color: #222;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pageHeading span{
  color: #ffbe57;
}

.formButton:hover {
  background-color: #e0a500;
}

@media (max-width: 768px) {
  .fullStackPage {
    flex-direction: column;
  }

  .featuresSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
  }

  .featureBox {
    width: 100%;
  }
  .ctaSec .ctaBtn {
    width: 80%;
    height: 5rem;
    font-size: larger;
    font-weight: bold;
  }
}
