/* src/Syllabus.css */

.syllabus {
    padding: 4rem 2rem;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .syllabus-container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .syllabus h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 2rem;
  }
  
  .syllabus ul {
    list-style-type: none;
    padding: 0;
  }
  
  .syllabus li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #ffbe57;
    color: black;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .syllabus li:hover {
    background-color: #e0a845;
  }
  
  .week {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .topic {
    font-size: 1rem;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .syllabus-container {
      padding: 1rem;
    }
  
    .syllabus li {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .week {
      margin-bottom: 0.5rem;
    }
  

    
    .topic {
      font-size: 0.9rem;
    }
  }
  