.syllabus {
  background-color: #222;
  color: #fff;
  padding: 20px;
}

.syllabus-container {
  max-width: 1200px;
  margin: 0 auto;
}

.syllabus h2 {
  text-align: center;
  color: #ffbe57;
  margin-bottom: 20px;
  font-size: xx-large;
}

.syllabus-columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.syllabus-column {
  list-style: none;
  padding: 0;
  flex: 1;
}

.syllabus li {
  margin-bottom: 10px;
}

.Collapsible {
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Collapsible:hover {
  background-color: #444;
}

.Collapsible__trigger {
  font-size: 18px;
  font-weight: bold;
  color: #ffbe57;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Collapsible__contentInner {
  padding: 10px;
  background-color: #555;
  color: #fff;
  border-radius: 5px;
  margin-top: 5px;
}

.Collapsible__contentInner ul {
  padding-left: 20px;
}

.Collapsible__contentInner ul li {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .syllabus-columns {
    flex-direction: column;
  }

  .Collapsible__trigger {
    font-size: 16px;
  }
}



.syllabus-container p{
  text-align: center;
}